html,
* {
    box-sizing: border-box;
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.board {
    width: 70vw;
    max-width: 450px;
}

.board.grid {
    margin: 0 0;
    height: 70vw;
    max-height: 450px;
    font-size: 1rem;
}

.board.scors {
    margin: 0px 0;
    display: flex;
    justify-content: space-between;
}

.board.stats {
    margin: 70px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.scor {
    margin: 5px;
}

.row {
    display: flex;
    margin: 0px;
    flex-direction: row;
    align-items: flex-start;
}
.box {
    background: WhiteSmoke;
    margin: 5px;
    color: white;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative;
}
.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: Gray;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
