html,
* {
    box-sizing: border-box;
}
body {
	font-family: 'Roboto Mono', Roboto, mono;
}
html, body {
    background: #F5F5F5;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.button {
    border-radius: 12px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.center-hv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex {display: flex}
.flex.center {align-items: center}
.flex.column {flex-direction: column}
.flex.space-between {justify-content: space-between}

.is-bold {font-weight: bold}
.top-mar {margin-top: 20px}
.left-mar {margin-left: 20px}
.r-mar {margin-right: 5px}

.board {
    max-width: 450px;
}

.board.grid {
    margin: 0 0;
    max-height: 450px;
}

.board.scors {
    margin: 0px 0;
    display: flex;
    justify-content: space-between;
}

.stats {
    margin-left: 10px;
    width: 40vw;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

/* multiplayer new-game button */
.board.play {
    margin-bottom: 10px;
    margin-top: 0px;
}

.row {
    display: flex;
}
.cell {
    flex: 1 0 auto;
    position: relative;
    /* border: 1px solid gray; */
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
.cell:after {
    content: "";
    float:left;
    padding-top: 100%;
}
.cell:active {
    box-shadow: 0 3px lightgray;
    /* transform: translateY(3px); */
}
.cell:hover {opacity:0.6}
.cell .inner {
    position: absolute;
    font-weight: bold;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pulse animation */
@keyframes pulse_animation {
    0% { transform: scale(1); }
    5% { transform: scale(1.01); }
    30% { transform: scale(1.03); }
/*    60% { transform: scale(1.04); } */
    70% { transform: scale(1.01); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 900ms;
    transform-origin:70% 70%;
    animation-iteration-count: single;
    animation-timing-function: linear;
}


@keyframes rotation_animation_one_hight {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(1deg); }
    30% { transform: rotate(3deg); }
    50% { transform: rotate(1deg); }
    60% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}
.rotate {
    animation-name: rotation_animation_one_hight;
    animation-duration: 300ms;
    transform-origin:70% 70%;
    animation-iteration-count: single;
    animation-timing-function: linear;
}
