html,
* {
    box-sizing: border-box;
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.flex {display: flex;}
.flex.center {align-items: center;}
.flex.column {flex-direction: column;}

.board {
    width: 86vw;
    max-width: 450px;
}

.board.grid {
    margin: 0 0;
    height: 86vw;
    max-height: 450px;
}

.board.scors {
    margin: 0px 0;
    display: flex;
    justify-content: space-between;
}

.stats {
    margin-left: 10px;
    width: 40vw;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

/* multiplayer new-game button */
.board.play {
    margin-bottom: 10px;
    margin-top: 30px;
}

.row {
    display: flex;
}
.cell {
    background: WhiteSmoke;
    color: white;
    flex: 1 0 auto;
    position: relative;
    /* border: 1px solid gray; */
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
.cell:after {
    content: "";
    float:left;
    padding-top: 100%;
}
.cell .inner {
    position: absolute;
    font-weight: bold;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: Gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* glowing text */
.glow {
    font-size: 15px;
    color: #209cee;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 15px #e60073, 0 0 17px #e60073;
    }
    
    to {
        text-shadow: 0 0 5px #fff, 0 0 7px #ff4da6, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 15px #ff4da6, 0 0 17px #ff4da6, 0 0 20px #ff4da6;
    }
}
